{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<header class="">
	<div class="header-content">
		<div class="container">
			<div class="header-content-inner">
				<div class="row d-flex h-100">
					<div class="col-md-4">
						<h1>Publications</h1>
					</div>
			</div>
		</div>
	</div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ range .Data.Pages.GroupByDate "2006" }}

            <div class="row" id="pub_list">
                <div class="col-md-1">
                    <h3>{{ .Key }}</h3>
                </div>
                <div class="col-md-11">
                    {{ range .Pages.ByDate.Reverse }}
                        {{ partial "publication_li_detailed" . }}
                    {{end}}
                </div>
            </div>
            {{ end }}

        </div>
    </div>

</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
